#container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #fff;
}

#change-button{
    padding: 10px 20px;
    background-color: transparent;
    font-size: 30px;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
}

#container p{
    font-size: 21px;
}
i{
    color: #fff;
}

i:hover{
    opacity: 0.8;
}

#info{
    position: fixed;
    bottom: 50px;
    right: 50px;
    font-size: 20px;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 8px;
    display: none;
}

.inner-bg{
    width: 60px;
    height: 60px;
    border-radius: 5px;
}
.inner-bg:hover{
    cursor: pointer;
}

#history ul{
    list-style: none;
    position: relative;
    right: 19.5px;
    top: 10px;
}

#history ul li{
    padding: 5px 0;
}

#history{
    position: absolute;
    right: 50px;
    top: 40px;
    background-color: rgb(236, 228, 228);
    border-radius: 10px;
}

#history a{
    text-decoration: none;
    color: black;
}

#history i { 
    opacity: 0.8;
}
#history i:hover{
    cursor: pointer;
}